body{
    background-color: #E6E6FA;
}

.pac-man {
    position: absolute;
    left: 5%;
    top: 5%;
}
.game-controls{

    background-color:#7B68EE;
    color:#FFFFE0;
    max-width: 150px;
    max-height: 25px;
}

#game{
    position: absolute; left: 5%; top: 15%; height: 80%; width: 90%; 
    min-width: 360px;
    min-height: 360px;
    border-style: solid;
    border-width: 4px;
    border-color:  lightcoral;
    background-color:#9370DB;
}
